{% extends "layout.html" %}

{% block head %}
    <title>Grayscale Landing Page</title>

    <style>
        a {
            padding: 0.5em 1em;
            text-decoration: none;
            background-color: #ccc8c8;
            color: #000000;
        }

        a:hover {
            background-color: #b0afaf;
        }

        h1 {
            margin: 0;
            font-size: 3.5em;
        }

        h2 {
            margin-bottom: 1.5em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container grass">
        <div class="card">
            <h1>Thought Graveyard</h1>
            <h2>A tribute to the thoughts we lose every day</h2>
            <a href="/login">Get Started</a>
        </div>
    </div>
{% endblock %}