{% extends "layout.html" %}

{% block head %}
    <title>Thoughts of Graveyard - Login</title>

    <style>
        form {
            width: min(100%, 400px);
            margin-inline: auto;
        }

        h1 {
            margin: 0;
            font-size: 3.5em;
        }

        label {
            text-align: left;
            display: block;
            margin-bottom: 8px;
            color: #000000;
            font-size: 18px;
        }

        input {
            width: 100%;
            padding: 12px;
            background-color: inherit;
            border: 1px solid #444;
            color: #000;
            font-size: 16px;
        }

        input:focus {
            outline: none;
            border-color: #666;
        }

        button {
            padding: 0.5em 1em;
            text-decoration: none;
            outline: none;
            border: none;
            background-color: #ccc8c8;
            color: #000000;
            font-size: 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #b0afaf;
        }

        .signup-text {
            text-align: center;
            margin-top: 20px;
            color: #777;
            font-size: 14px;
        }

        .signup-link {
            color: #999;
            text-decoration: none;
        }

        .signup-link:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container stone">
        <div class="card">
            <h1>Sign In</h1>
            
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>

                <br>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                
                <button type="submit">Sign In</button>
                
                <div class="signup-text">
                    Not a member? <a href="/register" class="signup-link">Sign up now</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}