<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thought Graveyard</title>

    <!-- Import main stylesheet -->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="main" id="main">
        <div class="sidebar">

        </div>    
    </div>

    <!-- Link JS canvas -->
    <script>
        const tombstoneData = [{
            id: 1234567,
            content: "Hello world, how are you?",
            type: 0,
            pos: [100, 100],
            likes: 0
        }]
    </script>

    <script defer src="../static/scripts/canvas.js"></script>
</body>
</html>