<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thought Graveyard</title>

    <!-- Import main stylesheet -->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="main" id="main">
        <div class="sidebar">

        </div>    
    </div>

    <!-- Link JS canvas -->
    <script>
        function displayTombstone(id) {
            let tombstone;

            tombstoneData.forEach(stone => {
                if (stone.id == id) {
                    tombstone = stone;
                }
            });

            alert(tombstone.content);
        }

        const tombstoneData = [{
            id: 1234567,
            content: "Hello, how are you?",
            type: 0,
            pos: [300, 100],
            likes: 0
        },
        {
            id: 1234568,
            content: "Hola, como estas?",
            type: 1,
            pos: [500, 100],
            likes: 0
        },
        {
            id: 1234569,
            content: "Konnichiwa. Genki desu ka?",
            type: 2,
            pos: [700, 100],
            likes: 0
        },
        {
            id: 1234560,
            content: "Bonjour, comment ça va?",
            type: 3,
            pos: [900, 100],
            likes: 0
        }]
    </script>

    <script defer src="../static/scripts/canvas.js"></script>
</body>
</html>